<template>
    <form action="" @submit="submitApplication(candidate)">
        <h4>Applying for {{ job.title }}</h4>
        <div>
            <label for="name">Tell us about yourself.</label>
            <input type="text" placeholder="What's your full name?" v-model="candidate.name">
        </div>
        <div>
            <label for="email">Please provide your contact information.</label>
            <input type="text" placeholder="What's your email?" v-model="candidate.email">
        </div>
        <div>
            <label for="phone">Please provide your contact information.</label>
            <input type="text" placeholder="What's your phone number?" v-model="candidate.phone">
        </div>
        <div>
            <label for="resume">Share your skills and experience.</label>
            <input type="text" placeholder="Upload your resume" v-model="candidate.resume">
        </div>
        <div>
            <label for="picture">Add your profile picture.</label>
            <input type="text" placeholder="Upload your picture" v-model="candidate.picture">
        </div>
        <div>
            <label for="name">Personalize your application.</label>
            <input type="text" placeholder="Upload your video" v-model="candidate.video">
        </div>
        <div>
            <button
                :disabled="!isValid"
                @click.prevent="submitApplication(candidate)"
                type="button"
            >
                Submit
            </button>
        </div>
    </form>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
      name: "Application",
      data() {
        return {
            candidate: {
                name: '',
                email: '',
                phone: '',
                resume: '',
                photo: '',
                video: '',
            }
        }
    },
      mounted() {
          this.$store.dispatch('fetchJob')
      },
      methods: {
          submitApplication(candidate) {
              this.$store.dispatch('submitApplication', candidate)
          },
      },
      computed: {
          ...mapGetters([
              'job'
          ]),
          isValid() {
            return this.candidate.name !== '' && this.candidate.email !== ''
          }
      }
  }
</script>
