<template>
    <div class="max-w-2xl mx-auto" v-if="jobPosting">
        <div :class="jobPosting.location.color ? '' : 'border-green-500'" :style="jobPosting.location.color ? `border-color: ${jobPosting.location.color}` : ''" class="bg-white border-t-4 mx-4 p-4 shadow-md rounded-b-lg font-bold text-center">
            <div class="flex justify-center">
                <div v-if="jobPosting.location.logo_url" class="mr-3">
                    <img :src="jobPosting.location.logo_url" class="w-10 h-auto">
                </div>
                <div>
                    <p class="text-xl leading-5 text-gray-700">
                        You are applying for <span
                        :class="jobPosting.location.color ? '' : 'text-green-500'"
                        :style="jobPosting.location.color ? `color: ${jobPosting.location.color}` : ''"
                        >{{ jobPosting.title }}</span>
                        at {{ (jobPosting.location !== null) ? jobPosting.location.name : '' }}
                    </p>
                </div>
            </div>
        </div>

        <div>
            <div class="max-w-3xl mx-auto px-4 py-10">
                <div x-show.transition="step === 'complete'" v-if="step === 'complete'">
                    <div class="bg-white rounded-lg p-10 flex items-center shadow justify-between">
                        <div>
                            <svg class="mb-4 h-20 w-20 text-green-500 mx-auto" viewBox="0 0 20 20"
                                 fill="currentColor">
                                <path fill-rule="evenodd"
                                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                      clip-rule="evenodd"/>
                            </svg>

                            <h2 class="text-2xl mb-4 text-gray-800 text-center font-bold">Application Success</h2>

                            <div class="text-gray-600 mb-8">
                                Thank you. We have sent you an email to. Please click the link in the
                                message to verify your email.
                            </div>

                            <a @click="backToHome"
                               type="button"
                               class="w-40 block mx-auto cursor-pointer focus:outline-none py-2 px-5 rounded-lg shadow-sm text-center text-gray-600 bg-white hover:bg-gray-100 font-medium border">
                                Back to home
                            </a>
                        </div>
                    </div>
                </div>
                <div>
                    <form>
                        <div x-show.transition="step != 'complete'" v-if="step != 'complete'">
                            <!-- Progress bar -->
                            <div class="py-1">
                                <nav>
                                    <ul class="flex items-center justify-center">
                                        <!-- Step 1 -->
                                        <li class="relative sm:pl-6 w-full">
                                            <div class="absolute inset-0 flex items-center">
                                                <div
                                                    :class="[ step >= 1 ? 'bg-teal-900' : '', step < 1 ? 'bg-teal-600' : '']"
                                                    class="h-2 w-full rounded-l">
                                                </div>
                                            </div>
                                            <a href="#"
                                               :class="[ step >= 1 ? 'bg-teal-900' : '', step < 1 ? 'bg-teal-600' : '']"
                                               class="relative w-8 h-8 flex items-center justify-center rounded-full transition ease-in-out duration-150">
                                                <span
                                                    x-show.transition="step >= 1"
                                                    v-show="step >= 1"
                                                    class="h-4 w-4 bg-green-300 rounded-full"></span>
                                            </a>
                                        </li>

                                        <li class="relative pl-8 sm:pl-15  w-full">
                                            <!-- Completed Step -->
                                            <div class="absolute inset-0 flex items-center">
                                                <div
                                                    :class="[ step >= 2 ? 'bg-teal-900' : '', step < 2 ? 'bg-teal-600' : '']"
                                                    class="h-2 w-full"></div>
                                            </div>
                                            <a href="#"
                                               :class="[ step >= 2 ? 'bg-teal-900' : '', step < 2 ? 'bg-teal-600' : '']"
                                               class="relative w-8 h-8 flex items-center justify-center rounded-full transition ease-in-out duration-150">
                                                <span
                                                    x-show.transition="step >= 2"
                                                    v-show="step >= 2"
                                                    class="h-4 w-4 bg-green-300 rounded-full"></span>
                                            </a>
                                        </li>

                                        <li class="relative pl-8 sm:pl-15  w-full">
                                            <!-- Current Step -->
                                            <div class="absolute inset-0 flex items-center">
                                                <div
                                                    :class="[ step >= 3 ? 'bg-teal-900' : '', step < 3 ? 'bg-teal-600' : '']"
                                                    class="h-2 w-full"></div>
                                            </div>
                                            <a href="#"
                                               :class="[ step >= 3 ? 'bg-teal-900' : '', step < 3 ? 'bg-teal-600' : '']"
                                               class="relative w-8 h-8 flex items-center justify-center rounded-full transition ease-in-out duration-150">
                                                <span
                                                    v-show="step >= 3"
                                                    class="h-4 w-4 bg-green-300 rounded-full"></span>
                                            </a>
                                        </li>

                                        <li class="relative pl-8 sm:pl-15  w-full">
                                            <!-- Current Step -->
                                            <div class="absolute inset-0 flex items-center">
                                                <div
                                                    :class="[ step >= 4 ? 'bg-teal-900' : '', step < 4 ? 'bg-teal-600' : '']"
                                                    class="h-2 w-full"></div>
                                            </div>
                                            <a href="#"
                                               :class="[ step >= 4 ? 'bg-teal-900' : '', step < 4 ? 'bg-teal-600' : '']"
                                               class="relative w-8 h-8 flex items-center justify-center rounded-full transition ease-in-out duration-150">
                                                <span
                                                    v-show="step >= 4"
                                                    class="h-4 w-4 bg-green-300 rounded-full"></span>
                                            </a>
                                        </li>

                                        <li class="relative pl-8 sm:pl-15 w-full">
                                            <!-- Current Step -->
                                            <div class="absolute inset-0 flex items-center">
                                                <div
                                                    :class="[ step >= 5 ? 'bg-teal-900' : '', step < 5 ? 'bg-teal-600' : '']"
                                                    class="h-2 w-full"></div>
                                            </div>
                                            <a href="#"
                                               :class="[ step >= 5 ? 'bg-teal-900' : '', step < 5 ? 'bg-teal-600' : '']"
                                               class="relative w-8 h-8 flex items-center justify-center rounded-full transition ease-in-out duration-150">
                                                <span
                                                    v-show="step >= 5"
                                                    class="h-4 w-4 bg-green-300 rounded-full"></span>
                                            </a>
                                        </li>

                                        <li class="relative sm:pr-6 pl-8 sm:pl-15 w-full">
                                            <!-- Upcoming Step -->
                                            <div class="absolute inset-0 flex items-center">
                                                <div
                                                    :class="[ step >= 6 ? 'bg-teal-900' : '', step < 6 ? 'bg-teal-600' : '']"
                                                    class="h-2 w-full bg-teal-600 rounded-r"></div>
                                            </div>
                                            <a href="#"
                                               :class="[ step >= 6 ? 'bg-teal-900' : '', step < 6 ? 'bg-teal-600' : '']"
                                               class="group relative w-8 h-8 flex items-center justify-center rounded-full focus:outline-none transition ease-in-out duration-150">
                                                <span
                                                    v-show="step >= 6"
                                                    class="h-4 w-4 bg-green-300 rounded-full transition ease-in-out duration-150"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- /Progress bar -->

                            <!-- Step Content -->
                            <div class="py-10">
                                <div
                                    x-show.transition.in="step === 1"
                                    v-show="step === 1">

                                    <p class="text-xl text-teal-800 font-bold text-center mb-12">
                                        Tell us about yourself.
                                    </p>

                                    <div class="relative flex justify-center focus-within">

                                        <input
                                            v-on:keyup.enter="nextStep"
                                            v-on:keydown="validate(step - 1)"
                                            name="name"
                                            id="name"
                                            type="text"
                                            v-model="fields[step - 1].field_value"
                                            :class="{'border-red-300': fields[step - 1].status, 'focus:border-red-300': fields[step - 1].status}"
                                            class="w-full px-4 py-3 rounded-lg shadow-lg bg-gray-300 bg-opacity-50
                                            placeholder-nautical-slate focus:outline-none focus:shadow-outline text-xl text-center font-bold z-10"
                                            placeholder=" " required autofocus>
                                        <label
                                            class="font-bold text-nautical-slate text-center block absolute top-0 py-3 px-3 text-lg duration-300 origin-0">
                                            What's your full name?</label>
                                    </div>
                                    <div v-show="fields[step - 1].status" class="mt-2 text-red-800 text-sm text-center">
                                        {{ fields[step - 1].message }}
                                    </div>

                                </div>

                                <div x-show.transition.in="step === 2" v-show="step === 2">
                                    <p class="text-xl text-teal-800 font-bold text-center mb-12">
                                        Contact information.
                                    </p>
                                    <div class="relative flex justify-center">

                                        <input v-on:keyup.enter="nextStep"
                                               ref="step1"
                                               v-on:keydown="validate(step - 1)"
                                               type="email"
                                               id="email"
                                               :class="{'border-red-300': fields[step - 1].status, 'focus:border-red-300': fields[step - 1].status}"
                                               v-model="fields[step - 1].field_value"
                                               class="w-full px-4 py-3 rounded-lg shadow-lg bg-gray-300 bg-opacity-50 placeholder-nautical-slate @error('email') text-red-900 placeholder-red-300 @enderror focus:shadow-outline text-xl text-center font-bold z-10"
                                               placeholder=" " required>
                                        <label for="email"
                                               class="font-bold text-nautical-slate text-center block absolute top-0 py-3 px-3 text-lg duration-300 origin-0">What's
                                            your email address?</label>
                                    </div>
                                    <div v-show="fields[step - 1].status" class="mt-2 text-red-800 text-sm text-center">
                                        {{ fields[step - 1].message }}
                                    </div>

                                </div>

                                <div v-if="step === 3">
                                    <p class="text-xl text-teal-800 font-bold text-center mb-12">
                                        Contact information.
                                    </p>
                                        <vue-tel-input v-model="phoneNumber" name="phone"
                                                       ref="step2"
                                                       @input="validate(step - 1)"
                                                       :style="[fields[step - 1].status ? { borderColor: 'red !important' }: '']"
                                                       :inputOptions="{
                                            placeholder:  'Please Enter Your Phone Number',
                                            styleClasses: 'w-full px-4 py-3 rounded-lg shadow-lg bg-gray-300 bg-opacity-50 placeholder-nautical-slate focus:outline-none focus:shadow-outline text-xl text-center font-bold z-10'}"
                                                       @enter="nextStep"
                                                       @validate="validateIS">
                                        </vue-tel-input>
                                    <div v-show="fields[step - 1].status"
                                         class="mt-2 text-red-800 text-sm text-center">
                                        {{ fields[step - 1].message }}
                                    </div>

                                </div>

                                <div v-show="step === 4">
                                    <p class="text-xl text-teal-800 font-bold text-center mb-10">
                                        Share your skills & experience.
                                    </p>

                                    <div class="flex flex-col flex-grow mb-3" v-cloak @drop.prevent="addFile"
                                         @dragover.prevent>
                                        <div x-data="{ files: null }" id="FileUpload"
                                             class="block w-full py-2 px-3 relative bg-white appearance-none border-2 border-gray-300 border-solid rounded-md hover:shadow-outline-gray">
                                            <template v-if="resumeUrl">
                                                <div class="flex flex-col space-y-1">
                                                    <template>
                                                        <div class="flex flex-grow justify-center space-x-2">
                                                            <template>
                                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5"
                                                                     viewBox="0 0 20 20" fill="currentColor">
                                                                    <path fill-rule="evenodd"
                                                                          d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z"
                                                                          clip-rule="evenodd"/>
                                                                </svg>
                                                            </template>
                                                            <template>
                                                                <p class="text-sm text-teal-800 font-bold text-center mr-10">
                                                                    {{ resumeUrl }}
                                                                </p>
                                                            </template>
                                                            <template>
                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                     class="h-5 w-5 cursor-pointer"
                                                                     viewBox="0 0 20 20" fill="red"
                                                                     @click.prevent="removeResume">
                                                                    <path fill-rule="evenodd"
                                                                          d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                                                                          clip-rule="evenodd"/>
                                                                </svg>
                                                            </template>
                                                        </div>
                                                    </template>
                                                </div>
                                            </template>
                                            <template>
                                                <div class="flex flex-col space-y-2 items-center justify-center">
                                                    <i class="fas fa-cloud-upload-alt fa-3x text-currentColor"></i>
                                                    <p class="text-gray-700 mt-6">Drag your files here or click in this
                                                        area.</p>
                                                    <label for="resume" type="button"
                                                           class="self-center text-center cursor-pointer inine-flex justify-between focus:outline-none border py-2 px-4 mb-0 rounded-lg shadow-sm align-text-bottom text-gray-600 bg-gray-100 hover:bg-gray-198 font-medium">
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                             class="inline-flex flex-shrink-0 w-6 h-6 -mt-1 mr-1"
                                                             fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                                  stroke-width="2"
                                                                  d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"/>
                                                        </svg>
                                                        Browse Resume
                                                    </label>
                                                    <input name="resume" id="resume" type="file" accept=".pdf, .docx"
                                                           v-on:change="onResumeSelect"
                                                           class="hidden">
                                                </div>
                                            </template>
                                        </div>
                                    </div>

                                    <div v-show="fields[step - 1].status" class="mt-2 text-red-800 text-sm text-center">
                                        {{ fields[step - 1].message }}
                                    </div>

                                </div>

                                <div v-show="step === 5">
                                    <p class="text-xl text-teal-800 font-bold text-center mb-12">
                                        Add your profile picture.
                                    </p>
                                    <div class="mb-5 text-center">
                                        <div
                                            class="mx-auto w-32 h-32 border rounded-full relative bg-gray-100 mb-4 shadow-inset">
                                            <img :src="(image_url) ? image_url : '/user.png'"
                                                 height="100px"
                                                 class="object-cover w-full h-32 rounded-full cursor-pointer"
                                                 width="100px" alt="">
                                        </div>

                                        <label for="fileInput" type="button"
                                               class="cursor-pointer inine-flex justify-between items-center focus:outline-none border py-2 px-4 rounded-lg shadow-sm text-left text-gray-600 bg-white hover:bg-gray-100 font-medium">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 class="inline-flex flex-shrink-0 w-6 h-6 -mt-1 mr-1"
                                                 viewBox="0 0 24 24"
                                                 stroke-width="2" stroke="currentColor" fill="none"
                                                 stroke-linecap="round"
                                                 stroke-linejoin="round">
                                                <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                                                <path
                                                    d="M5 7h1a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2"/>
                                                <circle cx="12" cy="13" r="3"/>
                                            </svg>
                                            Browse Photo
                                        </label>

                                        <div class="mx-auto w-48 text-gray-500 text-xs text-center mt-1">
                                            Click to add profile picture
                                        </div>

                                        <input name="photo" id="fileInput" accept="image/*"
                                               v-on:change="onFileChange"
                                               class="hidden" type="file">

                                        <div v-show="fields[step - 1].status"
                                             class="mt-3 text-red-800 text-sm text-center">
                                            {{ fields[step - 1].message }}
                                        </div>
                                    </div>

                                </div>

                                <div v-show="step === 6">
                                    <p class="text-xl text-teal-800 font-bold text-center mb-6">
                                        Personalize your application.
                                    </p>
                                    <ol v-if="!jobPosting.description" class="list-decimal ml-3">
                                        <li class="text-sm md:text-normal text-indigo-900 font-bold">Introduce yourself.
                                        </li>
                                        <li class="text-sm md:text-normal text-indigo-900 font-bold">Describe your
                                            value, strengths or experience.
                                        </li>
                                        <li class="text-sm md:text-normal text-indigo-900 font-bold">Be confident and
                                            speak clearly.
                                        </li>
                                    </ol>
                                    <p v-else class="text-sm md:text-normal text-indigo-900 font-bold">
                                        {{ jobPosting.description }}
                                    </p>
                                    <div class="mb-2 text-center" v-if="step === 6">
                                        <RecordComponent @clicked="submitVideo"></RecordComponent>
                                    </div>
                                    <div v-show="fields[step - 1].status" class="mt-2 text-red-800 text-sm text-center">
                                        {{ fields[step - 1].message }}
                                    </div>
                                </div>
                            </div>
                            <!-- / Step Content -->

                        </div>

                        <div class="flex justify-between">
                            <div class="wizard-footer-left">
                                <span role="button" tabindex="0">
                                    <button x-show="step > 1" tabindex="-1" type="button" @click="previousStep"
                                            v-show="step !== 'complete'"
                                            class="bg-blue-700 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded-full">
                                        Back
                                    </button>
                                </span>
                            </div>
                            <div class="wizard-footer-right">
                                <span role="button" tabindex="0">
                                    <button type="button" v-show="step < 6" tabindex="-1"
                                            @click="nextStep"
                                            class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-full">
                                        Continue
                                    </button>
                                    <button
                                        type="button"
                                        @click.prevent="completeSteps"
                                        v-on:keyup.enter.prevent="completeSteps"
                                        v-show="step === 6"
                                        class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-full"
                                    >
                                        Complete
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
import {VueTelInput} from 'vue-tel-input';
import axios from 'axios';
import RecordComponent from "./RecordComponent";
import Vue from 'vue';

Vue.filter('kb', val => {
    return Math.floor(val / 1024);
});
export default {
    name: 'Form',
    components: {
        RecordComponent,
        VueTelInput
    },
    computed: {
        uploadDisabled() {
            return this.files.length === 0;
        }
    },
    props: ['demo', 'candidate'],
    data() {
        return {
            phoneNumber: null,
            phone: null,
            step: 1,
            files: [],
            resumeUrl: null,
            formData: null,
            jobPosting: '',
            image_url: null,
            fields: [
                {
                    step: 1,
                    status: false,
                    message: 'Please enter your full name to continue.',
                    field_value: null,
                    validate: () => this.fields[0].field_value !== null && this.fields[0].field_value !== ''
                },
                {
                    step: 1,
                    status: false,
                    message: 'Please enter a valid email address to continue.',
                    field_value: null,
                    validate: () => this.fields[1].field_value !== null && (/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/).test(this.fields[1].field_value)
                },
                {
                    step: 1,
                    status: false,
                    message: 'Please enter a valid phone number to continue.',
                    field_value: null,
                    validate: () => this.phone.valid === true
                },
                {
                    step: 1,
                    status: false,
                    message: 'Please attach your resume to your application.',
                    field_value: null,
                    validate: () => {
                        if (this.jobPosting.require_resume === true) {
                            return this.fields[3].field_value !== null && this.fields[3].field_value !== ''
                        } else {
                            return true;
                        }
                    }
                },
                {
                    step: 1,
                    status: false,
                    message: 'Image is require!',
                    field_value: null,
                    validate: () => this.fields[4].field_value !== null && this.fields[4].field_value !== ''
                },
                {
                    step: 1,
                    status: false,
                    message: 'Please submit a 30 second video to submit your application.',
                    field_value: null,
                    validate: () => {
                        if (this.jobPosting.require_video === true) {
                            return this.fields[5].field_value !== null && this.fields[5].field_value !== ''
                        } else {
                            return true;
                        }
                    }
                },
            ]
        }
    },
    mounted() {
        let url = window.location.pathname
        let slug = url.substring(url.lastIndexOf('/') + 1)
        axios.get('/api/jobs/' + slug, {
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            this.jobPosting = response.data;
        })
        this.formData = new FormData();
    },
    methods: {
        validateIS(phone) {
            this.phone = phone;

            if (this.step !== 3) {
                return;
            }

            if (this.phone.valid) {
                this.fields[this.step - 1].field_value = this.phone.number
            }
        },
        upload() {
            console.log('done')
        },

        backToHome() {
            this.step = 1;
            this.phoneNumber = null;
            this.resumeUrl = null;
            this.image_url = null;
            this.formData = new FormData();
            this.fields = [
                {
                    step: 1,
                    status: false,
                    message: 'Please enter your full name to continue.',
                    field_value: null,
                    validate: () => this.fields[0].field_value !== null && this.fields[0].field_value !== ''
                },
                {
                    step: 1,
                    status: false,
                    message: 'Please enter a valid email address to continue.',
                    field_value: null,
                    validate: () => this.fields[1].field_value !== null && (/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/).test(this.fields[1].field_value)
                },
                {
                    step: 1,
                    status: false,
                    message: 'Please enter a valid phone number to continue.',
                    field_value: null,
                    validate: () => this.fields[2].field_value !== null && this.fields[2].field_value !== ''
                },
                {
                    step: 1,
                    status: false,
                    message: 'Please attach your resume to your application.',
                    field_value: null,
                    validate: () => {
                        if (this.jobPosting.require_resume === true) {
                            return this.fields[3].field_value !== null && this.fields[3].field_value !== ''
                        } else {
                            return true;
                        }
                    }
                },
                {
                    step: 1,
                    status: false,
                    message: 'Image is require!',
                    field_value: null,
                    validate: () => this.fields[4].field_value !== null && this.fields[4].field_value !== ''
                },
                {
                    step: 1,
                    status: false,
                    message: 'Please submit a 30 second video to submit your application.',
                    field_value: null,
                    validate: () => {
                        if (this.jobPosting.require_video === true) {
                            return this.fields[5].field_value !== null && this.fields[5].field_value !== ''
                        } else {
                            return true;
                        }
                    }
                },
            ]
        },
        submitVideo(value) {
            this.fields[this.step - 1].field_value = value;
            this.formData.append('video', value);
        },
        nextStep() {
            if (!this.validate(this.step - 1) && this.step <= 6) {
                if (this.step === 1) {
                    this.formData.append('full_name', this.fields[this.step - 1].field_value)
                    setTimeout(() => {
                         this.$refs.step1.focus();
                    }, 100);
                } else if (this.step === 2) {
                    this.formData.append('email', this.fields[this.step - 1].field_value)
                    setTimeout(() => {
                        this.$refs.step2.focus();
                    }, 100);

                } else if (this.step === 3) {
                    this.formData.append('phone', this.fields[this.step - 1].field_value)
                }
                this.step++;
            }

        },
        completeSteps() {
            if (!this.validate(this.step - 1) && this.step <= 6) {
                axios.post('/api/jobs/' + this.jobPosting.id + '/applications', this.formData, {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(response => {
                    Vue.$toast.open({
                        message: 'Response Submit Successfully!',
                        type: 'success',
                    });
                    this.step = 'complete'
                    this.backToHome();
                })
                this.step = 'complete'
            }
        },
        previousStep() {
            if (this.step > 1) {
                this.step--;
            }
        },
        validate(step) {
            this.fields[step].status = !this.fields[step].validate();
            return this.fields[step].status;
        },
        addFile(e) {
            let droppedFiles = e.dataTransfer.files[0];
            if (!droppedFiles) return;
            this.resumeUrl = droppedFiles.name;
            this.formData.append('resume', droppedFiles);
            this.fields[this.step - 1].field_value = droppedFiles;
        },
        removeFile(file) {
            this.files = this.files.filter(f => {
                return f != file;
            });
        },
        onResumeSelect(e) {
            console.log(e.target.files[0]);
            const file = e.target.files[0];
            this.resumeUrl = file.name;
            this.formData.append('resume', file);
            this.fields[this.step - 1].field_value = file;
        },
        removeResume() {
            this.resumeUrl = null;
            document.getElementById("resume").value = null;
            if (this.formData.has('resume')) {
                this.formData.delete('resume');
            }
            this.fields[this.step - 1].field_value = null;
        },
        onFileChange(e) {
            this.fields[this.step - 1].field_value = e.target.files[0];
            this.formData.append('photo', e.target.files[0]);
            const file = e.target.files[0];
            this.image_url = URL.createObjectURL(file);
        },
    }
}
</script>
