<template>
</template>
<script>

export default {
    name: "PermissionComponent",
    data() {
        return {
            inputDevices: [],
            audioInputDevices: [],
            audioInputDevice: '',
            videoInputDevices: [],
            videoInputDevice: '',
        }
    },
    created() {
        this.inputDevicesData();
    },
    methods: {
        inputDevicesData() {
            navigator.mediaDevices
                .enumerateDevices()
                .then((devices) => {
                    this.audioInputDevices = [];
                    this.videoInputDevices = [];
                    devices.forEach((device) => {
                        this.inputDevices.push(device);
                        if (device.kind === 'audioinput') {
                            this.audioInputDevices.push(device)
                        } else if (device.kind === 'videoinput') {
                            this.videoInputDevices.push(device)
                        }
                        console.log(device.kind + ": " + device.label + " id = " + device.deviceId);
                    });
                    this.videoInputDevice = this.videoInputDevices[0]
                    this.audioInputDevice = this.audioInputDevices[0]
                    this.micChecking(this.audioInputDevice)
                })
                .catch(function (err) {
                    console.log(err.name + ": " + err.message);
                });
        },
        micChecking(device) {
            var audioContext = ''
            var outer_this = this
            navigator.mediaDevices.getUserMedia({audio: true, video: true})
                .then(function (stream) {
                    audioContext = new AudioContext();
                    let analyser = audioContext.createAnalyser();
                    let microphone = audioContext.createMediaStreamSource(stream);
                    let javascriptNode = audioContext.createScriptProcessor(2048, 1, 1);

                    analyser.smoothingTimeConstant = 0.8;
                    analyser.fftSize = 1024;

                    microphone.connect(analyser);
                    analyser.connect(javascriptNode);
                    javascriptNode.connect(audioContext.destination);
                    javascriptNode.onaudioprocess = function () {
                        var array = new Uint8Array(analyser.frequencyBinCount);
                        analyser.getByteFrequencyData(array);
                    }
                })
                .catch(function (err) {
                    console.log(err)
                });
        },
    }
}
</script>
