<template>
    <div class="pt-2 m-auto">
        <Permission></Permission>
        <div v-if="!isMobile">
            <div class="row relative">
                <div class="absolute bottom-10 left-0 right-0 flex items-center justify-center pt-5 pb-20 z-10">
                    <div v-if="starting" class="col-12 left-1/2 top-1/3">
                        <p class="text-white text-8xl font-bold">{{ inSeconds }}</p>
                    </div>

                    <div v-if="!starting" class="flex flex-col items-center font-semibold">
                        <div v-if="isStartRecording === false && !isSubmitVideo">
                            <div class="text-lg flex mb-1">
                                <div class="font-bold text-red-600 py-1">
                                    REC
                                </div>
                            </div>
                            <div class="border-white border-4 border-opacity-40 h-10 w-10 rounded-full">
                                <button
                                    @click.prevent="startRecording()"
                                    v-if="isStartRecording === false"
                                    class="text-black rounded-full w-8 h-8 bg-red-600 hover:bg-red-500 outline-none border-none cursor-pointer"
                                ></button>
                            </div>
                        </div>
                        <div class="flex justify-center" v-if="isStartRecording === false && isSubmitVideo">
                            <svg @click.prevent="startRecording()" xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-white text-opacity-40 hover:text-opacity-80 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                            </svg>
                        </div>
                        <div v-if="isStartRecording === true">
                            <button
                                @click.prevent="endRecording()"
                                v-if="isStartRecording === true"
                                class="text-black rounded-md w-8 h-8 bg-red-600 bg-opacity-40 hover:bg-red-500 outline-none border-none cursor-pointer"
                            ></button>
                        </div>
                    </div>
                </div>

                <div class="grid grid-cols-1">
                    <div class="video-frame live-streamings mt-3">
                        <video ref="videoPlayer" data-setup="{controls:false}" class="video-js vjs-default-skin">
                        </video>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="isMobile">
            <div class="row player_main relative">
                <div v-if="!uploadedVideo" class="col-12 absolute bottom-0 left-0 right-0 flex items-center justify-center pt-5 pb-10 z-10" >
                    <label for="upload-video" >
                        <img :src="'/recording.png'" alt="play" class="h-12">
                    </label>
                    <input id="upload-video" type="file" class="hidden"
                           accept="video/*" @change="selectVideoUpload" capture="user"/>
                </div>
                <div class="grid grid-cols-1">
                    <div class="video-frame live-streamings mt-3">
                        <video class="video-js vjs-custom-skin" v-if="!uploadedVideo" :controls="false">
                        </video>
                        <VideoIs v-if="uploadedVideo" :src="uploadedVideo"
                                 :videoFile="uploadedVideofile" id="uploaded-video-player" type="video/mp4"/>
                    </div>
                </div>
            </div>
            <div class="flex justify-end mt-3">
                <label for="retake-video"
                       class="bg-green-400 text-green-600 font-bold py-2 px-4 rounded-full items-end"
                       v-if="isMobile && uploadedVideo">Retake Video</label>
                <input id="retake-video" type="file" style="display: none"
                       accept="video/*" v-if="isMobile" @change="retakeVideoUpload" capture="user"/>
            </div>
        </div>
    </div>

</template>

<script>

import videojs from "video.js";
import VideoIs from "./Video";
import "video.js/dist/video-js.css";
import Permission from './PermissionComponent';
import "videojs-record/dist/css/videojs.record.css";
import RecordRTC from "recordrtc";
import Record from "videojs-record/dist/videojs.record.js";
import {isMobile} from 'mobile-device-detect';

export default {
    props: ["uploadUrl", "deviceInfo"],
    components: {
        VideoIs,
        Permission
    },
    data() {
        return {
            isStartRecording: false,
            player: "",
            inSeconds: 3,
            starting: false,
            cameraStream: '',
            uploadedVideofile: null,
            uploadedVideo: null,
            isSubmitVideo: false,
            isMobile: isMobile,
            options: {
                maxLength: 30,
                controls: true,
                bigPlayButton: false,
                controlBar: {
                    deviceButton: false,
                    recordToggle: false,
                    pipToggle: false,
                },
                width: 800,
                height: 300,
                fluid: true,
                plugins: {
                    record: {
                        pip: true,
                        audio: true,
                        video: true,
                        debug: true,
                    },
                },
            },
        };
    },
    created() {
    },
    mounted() {
        this.player = videojs(this.$refs.videoPlayer, this.options, () => {
            var msg = "Using video.js " + videojs.VERSION + " with videojs-record " + videojs.getPluginVersion("record") + " and recordrtc " + RecordRTC.version;
            videojs.log();
        });
        this.player.on("deviceReady", () => {
            this.player.record().start();
            setInterval(() => {
                if (document.getElementById("current-recording")) {
                    document.getElementById("current-recording").innerHTML = document.getElementsByClassName("vjs-current-time-display")[0].innerHTML;
                }
            }, 100);
        });
        this.player.on("deviceError", () => {
            console.log("device error:", this.player.deviceErrorCode);
        });
        this.player.on("error", (element, error) => {
            console.error(error);
        });
        this.player.on("startRecord", () => {
        });
        this.player.on("finishRecord", () => {
            this.isSaveDisabled = false;
            this.submitVideo();
        });
        if (!this.isMobile) {
            this.startStreaming();
        }
    },
    methods: {
        startRecording() {

            var outer_this = this;
            outer_this.inSeconds = 3;
            this.starting = true;
            // setInterval(() => {
            //     if(outer_this.inSeconds > 0){
            //         outer_this.inSeconds--
            //     }
            // }, 1000);

            var timer = setInterval(function () {
                if (outer_this.inSeconds <= 0) {
                    clearInterval(timer);
                }
                outer_this.inSeconds--
            }, 1000);

            setTimeout(() => {
                outer_this.starting = false;
                outer_this.isStartRecording = true
                outer_this.player.record().getDevice();
            }, 4000);
        },
        submitVideo() {
            this.$emit('clicked', this.player.recordedData);
        },
        endRecording() {
            this.isStartRecording = false;
            this.player.record().stop();
            this.isSubmitVideo = true;
            this.isPauseVideo = false;
            this.submitVideo();
        },
        retakeWebVideoUpload() {
            this.isStartRecording = true
            this.player.record().getDevice();
        },
        startStreaming() {
            this.stream = navigator.mediaDevices.getUserMedia({video: true})
                .then((mediaStream) => {
                    this.$refs.videoPlayer.srcObject = mediaStream;
                    this.$refs.videoPlayer.play();
                    this.cameraStream = mediaStream;
                })
                .catch((err) => {
                    console.log("Unable to access camera: " + err);
                });
        },
        selectVideoUpload(e) {
            const file = e.target.files[0];
            this.uploadedVideofile = file;
            this.uploadedVideo = URL.createObjectURL(file);
            this.pushVideo();
        },
        retakeVideoUpload(e) {
            if (e.target.files.length === 0) {
                return;
            }
            this.uploadedVideofile = null;
            this.uploadedVideo = null;
            setTimeout(() => {
                const file = e.target.files[0];
                this.uploadedVideofile = file;
                this.uploadedVideo = URL.createObjectURL(file);
                console.log(this.uploadedVideo, this.uploadedVideofile)
                this.pushVideo();
            }, 1000);
        },
        pushVideo() {
            this.$emit('clicked', this.uploadedVideofile);
        },
    },
    beforeDestroy() {
        if (this.player) {
            this.player.dispose();
        }
    },
};
</script>
<style>
/*.player_child {*/
/*    top: 46% !important;*/
/*    z-index: 1;*/
/*}*/
.videojs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-inner-container {
    max-height: 278px;
    height: auto;
    width: auto;
    border-radius: 5px;
    min-height: 278px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.videoPlayer-dimensions.vjs-fluid {
    padding-top: 0;
}

.video-js {
    width: 100% !important;
    height: 100%;
}

.video-js.vjs-fluid,
.video-js.vjs-16-9,
.video-js.vjs-4-3 {
    width: auto;
    max-width: 100%;
    height: 278px !important;
    border-radius: 5px;
    overflow: hidden;
}

.vjs-tech {
    position: initial;
    width: auto;
    height: 100%;
}

.vjs-control-bar {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3em;
    background-color: rgba(43, 51, 63, 0.7);
}

.vjs-big-play-button {
    background-color: red;
    opacity: .6;
}
</style>
